.floor-1-horizontal-up {
  position: absolute;
  width: 64px;
  height: 32px;
  background: url('./assets/img/sprites.png');
  background-position: -16px -2000px;
}

.floor-1-horizontal-center {
  position: absolute;
  width: 64px;
  height: 32px;
  background: url('./assets/img/sprites.png');
  background-position: -16px -2019px;
}

.floor-1-horizontal-down {
  position: absolute;
  width: 64px;
  height: 32px;
  background: url('./assets/img/sprites.png');
  background-position: -16px -2000px;
}

.floor-1-up-left-corner {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url('./assets/img/sprites.png');
  background-position: -16px -2000px;
}

.floor-1-up-right-corner {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url('./assets/img/sprites.png');
  background-position: -48px -2000px;
}

.floor-1-down-left-corner {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url('./assets/img/sprites.png');
  background-position: -16px -2032px;
}

.floor-1-down-right-corner {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url('./assets/img/sprites.png');
  background-position: -48px -2032px;
}

.floor-1-right-side {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url('./assets/img/sprites.png');
  background-position: -16px -2019px;
}

.floor-1-left-side {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url('./assets/img/sprites.png');
  background-position: -48px -2019px;
}

.floor-1-down-side {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url('./assets/img/sprites.png');
  background-position: -37px -2000px;
}

.floor-1-up-side {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url('./assets/img/sprites.png');
  background-position: -37px -2032px;
}
