.gate-1-left-up-corner {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./assets/img/sprites.png');
  background-position: -4px -16355px;
}

.gate-1-left-center-up {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./assets/img/sprites.png');
  background-position: -4px -16387px;
}

.gate-1-left-center-center {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./assets/img/sprites.png');
  background-position: -4px -16419px;
}

.gate-1-left-center-down {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./assets/img/sprites.png');
  background-position: -4px -16451px;
}

.gate-1-left-down-corner {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./assets/img/sprites.png');
  background-position: -4px -16483px;
}

.gate-1-mid-up-corner {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./assets/img/sprites.png');
  background-position: -36px -16355px;
}

.gate-1-mid-center-up {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./assets/img/sprites.png');
  background-position: -36px -16387px;
}

.gate-1-mid-center-center {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./assets/img/sprites.png');
  background-position: -36px -16419px;
}

.gate-1-mid-center-down {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./assets/img/sprites.png');
  background-position: -36px -16451px;
}

.gate-1-mid-down-corner {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./assets/img/sprites.png');
  background-position: -36px -16483px;
}

.gate-1-right-up-corner {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./assets/img/sprites.png');
  background-position: -68px -16355px;
}

.gate-1-right-center-up {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./assets/img/sprites.png');
  background-position: -68px -16387px;
}

.gate-1-right-center-center {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./assets/img/sprites.png');
  background-position: -68px -16419px;
}

.gate-1-right-center-down {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./assets/img/sprites.png');
  background-position: -68px -16451px;
}

.gate-1-right-down-corner {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./assets/img/sprites.png');
  background-position: -68px -16483px;
}
