@use './assets/scss/sprites/trees/trees';
@use './assets/scss/sprites/buildings/gate';
@use './assets/scss/sprites/floors/floors';

$primary-color: white;
$bg: black;
h1 {
  color: $primary-color;
  background-color: $bg;
}

body {
  margin: 0;
  .game-container {
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }

  .game-screen {
    background-color: rgb(66, 66, 66);
    width: 544px;
    height: 544px;
    overflow: hidden;
    position: absolute;
  }

  .game-scene {
  }

  .game-map {
    position: absolute;
    transition: left 0.36s linear, top 0.36s linear;
    .cell-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      .game-cell {
        position: relative;
      }
    }

    .player {
      width: 35px;
      height: 52px;
      background: url('./assets/img/rocket.png') -135px -157px;
      background-size: 875px;
      z-index: 99;
    }

    .player-base {
      position: absolute;
      top: -20px;
      background-size: 875px;
      z-index: 99;
    }

    .player-left {
      background: url('./assets/img/rocket.png') -135px -95px;
    }

    .player-left-active {
      right: 7px;
      background: url('./assets/img/rocket.png') -198px -95px;
    }

    .player-left-active-two {
      right: 14px;
      background: url('./assets/img/rocket.png') -135px -95px;
    }

    .player-left-active-thre {
      right: 21px;
      background: url('./assets/img/rocket.png') -198px -95px;
    }

    .player-right {
      background: url('./assets/img/rocket.png') -135px -157px;
    }

    .player-right-active {
      right: -10px;
      background: url('./assets/img/rocket.png') -198px -157px;
    }

    .player-right-active-two {
      right: -20px;
      background: url('./assets/img/rocket.png') -135px -157px;
    }

    .player-right-active-thre {
      right: -30px;
      background: url('./assets/img/rocket.png') -198px -157px;
    }

    .player-down {
      background: url('./assets/img/rocket.png');
      background-position: -135px -28px;
    }

    .player-down-active {
      top: -10px;
      background: url('./assets/img/rocket.png') -198px -28px;
    }

    .player-down-active-two {
      top: 0px;
      background: url('./assets/img/rocket.png') -135px -28px;
    }

    .player-down-active-thre {
      top: 10px;
      background: url('./assets/img/rocket.png') -198px -28px;
    }

    .player-up {
      top: -20px;
      background: url('./assets/img/rocket.png') -135px -220px;
    }

    .player-up-active {
      top: -30px;
      background: url('./assets/img/rocket.png') -198px -220px;
    }

    .player-up-active-two {
      top: -40px;
      background: url('./assets/img/rocket.png') -135px -220px;
    }

    .player-up-active-thre {
      top: -50px;
      background: url('./assets/img/rocket.png') -198px -220px;
    }

    .base-sprite-1 {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url('./assets/img/sprites.png');
      background-position: -96px -2240px;
    }
  }
}
